@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a {
    color: black !important;
}

.brand-logo, h2 {
    font-family: 'Grand Hotel',
        cursive;
}

.my-card {
    margin-top: 30px;
}

.auth-card {
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(8, 93, 252) !important;
    box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}
.input-field input[type=password]:focus {
    border-bottom: 1px solid rgb(8, 93, 252) !important;
    box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}

a.gallary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.item {
    width: 30%;
    margin-right: 5px;
    margin-left: 2px;
    
}

.home-card {
    max-width: 500px;
    height: max-content;
    margin: 26px auto;
}

.card-image i {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ff1c4d;
    transform: translate(-50%,-50%);
    animation: favouriteGrow 1s linear;
    -webkit-animation: favouriteGrow 1s linear;
    -moz-animation: favouriteGrow 1s linear;
}

.gallary img{
    width:150px;
    height:150px;
    object-fit: cover;
}

.gallary img:hover{
    transform: scale(1.1);
}

@keyframes favouriteGrow{
    0%{
        transform: scale(2);
        opacity: 0.7;
        text-shadow: 0.1rem 0.1rem 0.1rem black,
        -0.1rem -0.1rem 0.1rem black;
    }
    50%{
        transform: scale(7);
        opacity: 0.7;
        text-shadow: 0.1rem 0.1rem 0.1rem black,
        -0.1rem -0.1rem 0.1rem black;
    }
    100%{
        transform: scale(6);
        opacity: 0.7;
        text-shadow: 0.1rem 0.1rem 0.1rem black,
        -0.1rem -0.1rem 0.1rem black;
    }
}

#toast-container{
    top: 30px !important;
    right: 20px !important;
    left: auto !important;
}

.collection-item{
    width: 100%;
}

.material-icons:hover{
    cursor: pointer;
}

.card.auth-card.input-field {
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.0px);
    -webkit-backdrop-filter: blur(4.0px);
    border-radius: 10px;
    color: rgb(247, 119, 60);
    caret-color: #23f1be;
    /*border: 7px solid;
    border-image: linear-gradient(135deg,
        #ff0000 0%,
        #fa8517 20%,
        #b6fa17 50%,
        #17fa22 70%,
        #ff00a8 100%)1;*/
}

.mycard{
     background-repeat: round;
     z-index: 1;
}

body{
    min-height: 100vh;
    background: linear-gradient(to right top, #450bb3, #1af776);
    background-attachment: fixed;
}

.loadbtn{

}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(255, 0, 221);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb{
border-radius: 10px;
background-color: #f83e3e;
background-image: -webkit-linear-gradient(90deg,
    transparent,
    rgba(0, 0, 0, 0.4) 50%,
    transparent,
    transparent)
}

.lds-heart {
    display: inline-block;
    position: relative;
    margin-left: 47%;
    margin-top: 10%;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
}

.lds-heart div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: #fff;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div:after,
.lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: #fff;
}

.lds-heart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
}

@keyframes lds-heart {
    0% {
        transform: scale(0.95);
    }

    5% {
        transform: scale(1.1);
    }

    39% {
        transform: scale(0.85);
    }

    45% {
        transform: scale(1);
    }

    60% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(0.9);
    }
}

.stories {
    display: flex;
    height: max-content;
    margin: 26px auto;
    width: 65%;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #efefef;
    overflow: hidden;
}

.stories_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0.5em;
    cursor: pointer;
}

.stories_img {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #f83a63;
    padding: 3px;
}

.stories_img span {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.stories_img span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stories_name {
    font-size: 11px;
    margin-top: 4px;
}

.file-path-wrapper {
    width: 0%;
}

.file-field input[type=file] {
    width: 90%;
    bottom: 7px;
}

